body {
	text-align: center;
	font-family: Helvetica, sans-serif;
	background: #000000;
	color: #ffffff;
	font-weight: 200;
	margin: 1cm 3cm;
}

p {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 22px;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 62px;
	text-transform: uppercase;
}

ul {
	width: 175px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 22px;
}

#slogan {
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-style: italic;
	font-size: 44px;
}

.redhighlight {
		color: rgb(255,0,23);
}

#contact {
	font-size: 14px;
}
